.header {
    height: 10vh;
}

.body {
    height: 90vh;
}

.main-layout {
    max-height: 100vh;
}

.content {
    padding: 1.5em;
    margin: 0;
}

.menu {
    border-right: 0;
    height: 100%;
}

